<div class="edit-bar">
  <button (click)="onAddForm()">Add Book</button>
  <button>Delete Book</button>
</div>

<div class="add-book-form" *ngIf="showForm">
  <form #form="ngForm" (ngSubmit)="testform(form)" #form="ngForm">
    <div class="add-book-form-content">
      <label for="">Book Name</label>
      <input
        name="bookname"
        type="text"
        #bookname
        placeholder="Please enter Book Name"
        ngModel
        required
      />
    </div>
    <div class="add-book-form-content">
      <label for="">Author</label>
      <input
        name="authorname"
        type="text"
        #authorname
        placeholder="Please enter Author"
        ngModel
        required
      />
    </div>
    <div class="add-book-form-content">
      <label for="">Read</label>
      <div *ngFor="let read of readVals">
        <input
          type="radio"
          name="read"
          [value]="read"
          [ngModel]="optionsFirst"
          required
        />
        {{ read }}
      </div>
    </div>
    <div class="add-book-form-content">
      <label for="">Rating</label>
      <input
        name="rating"
        type="text"
        #rating
        placeholder="Please give a rating out of 5"
        ngModel
        required
      />
    </div>
    <button type="submit" [disabled]="!form.valid">Add Book</button>
    <button type="button" (click)="onCancelForm()">Cancel</button>
  </form>
</div>

<table>
  <tr>
    <th>No.</th>
    <th>Book Name</th>
    <th>Author</th>
    <th>Read/Not-read</th>
    <th>Rating</th>
  </tr>
  <tbody>
    <tr
      (click)="onBookDetail(tableDatas)"
      *ngFor="let tableDatas of tableData; let i = index"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ tableDatas.bookname }}</td>
      <td>{{ tableDatas.authorname }}</td>
      <td>{{ tableDatas.readornot }}</td>
      <td>{{ tableDatas.rating }}</td>
    </tr>
  </tbody>
</table>
